header {
  background-color: var(--primary-color);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-h);
}

.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
